{:company/legal-name "Grab Holdings Inc."
 :company/lei "549300G8ZPNQ5DNI6A45"
 :company/jurisdiction "KY"
 :company/website "https://www.grab.com"
 :company/ticker "GRAB (Nasdaq); HQ operations Singapore"}
